header {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

img {
  width: 100px;
}

nav {
  display:flex;
  align-content: center;
  align-items: center;
  ul {
    display: flex;
    list-style: none;
    margin:0;
    padding:0;
  }
  li {
    margin:0 10px;
  }
}

.social-icons {
  display: flex;
  align-items: center;
  ul {
    display:flex;
    list-style: none;
  }
  li {
    margin:0 10px;
  }
}



@media screen and (max-width: 768px) {
  img {
    width: 220px;
  }

  header {
    flex-direction: column;
  }

  nav {
    display:flex;
    flex-direction: column;
    ul {
      display:flex;
      margin:0;
      flex-direction: column;
      padding-inline-start: 0;
    }
    li {
      margin:0;
    }
  }

  .social-icons {
    display:flex;
    justify-content: center;
    ul {
      display:flex;
      flex-direction: row;
    }
  }

}
