.center-wrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  max-width: 1050px;
  h1 {
    color: #fff;
    text-transform: uppercase;
  }
  h4 {
    color: #0a244d;
  }
  .office-office {
    display: flex;
    align-content: center;
    justify-content: center;
    img {
      width: 40%;
    }
  }
  .flex-onecolumn {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    p {
      padding: 0.5em;
      margin: 0;
      font-size: 1.2em;
    }
  }
  .office-map {
    margin-top: 2em;
  }
  .flex-twocolumns {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .flex-fourcolumns {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .section-column {
    width: 50%;
    h3 {
      padding: 0.5em 0;
      margin: 0;
    }
    p {
      padding: 0;
      margin: 0;
    }
    .space {
      color: #fff;
    }
  }
  .map-section {
    background-image: url('https://images.pexels.com/photos/240834/pexels-photo-240834.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    height: 90vh;
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h5 {
      padding: 0.4em 0;
      color: #737373;
    }
    p {
      color: #737373;
      text-align: center;
      padding: 0.4em 1em;
    }
  }
  .office-people {
    background-image: url('../img/office/people-header.jpg');
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 60vh;
    font-size: 1.8em;
    width: 100%;
  }

  .people-name {
    font-size: 1.5em;
    font-weight: 100;
    font-style: italic;
    color: #3a3a3a;
  }
  .office-card img {
    width: 60%;
  }

  .img-wrapper {
    width: 30em;
    height: 30em;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    display: inline-block;
    img {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      display: inline-block;
      border-radius: 50%;
    }
  }

  .office-clients {
    background-image: url('../img/office/clients-header.jpg');
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 60vh;
    font-size: 1.8em;
    width: 100%;
  }
  .client-card {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    cursor: pointer;
    align-self: center;
    justify-self: center;
    padding: 0.7em;
  }
  .client-card img {
    width: 100%;
  }
}

@media (max-width: 769px) {
  .office-logo {
    display: none;
  }
}
