.center-wrapper {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1050px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.center-wrapper h1 {
  color: #fff;
  text-transform: uppercase;
}

.center-wrapper h4 {
  color: #0a244d;
}

.center-wrapper .office-office {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center-wrapper .office-office img {
  width: 25em;
  height: 25em;
}

.center-wrapper .flex-onecolumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.center-wrapper .flex-onecolumn p {
  padding: 0.5em;
  margin: 0;
  font-size: 1.2em;
}

.center-wrapper .office-map {
  margin-top: 2em;
}

.center-wrapper .flex-twocolumns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.center-wrapper .flex-fourcolumns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.center-wrapper .section-column {
  width: 50%;
}

.center-wrapper .section-column a {
  color: #3a3a3a;
}

.center-wrapper .section-column h3 {
  padding: 0.5em 0;
  margin: 0;
}

.center-wrapper .section-column p {
  padding: 0;
  margin: 0;
}

.center-wrapper .section-column .space {
  color: #fff;
}

.center-wrapper .map-section {
  background-image: url("https://images.pexels.com/photos/240834/pexels-photo-240834.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  height: 90vh;
}

.center-wrapper .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center-wrapper .info h5 {
  padding: 0.4em 0;
  color: #737373;
}

.center-wrapper .info p {
  color: #737373;
  text-align: center;
  padding: 0.4em 1em;
}

.center-wrapper .office-people {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4em;
  width: 100%;
}

.center-wrapper .office-people h2 {
  color: #3a3a3a;
}

.center-wrapper .people-name {
  font-size: 1.5em;
  font-weight: 100;
  font-style: italic;
  color: #3a3a3a;
}

.center-wrapper .office-card img {
  width: 100%;
}

.center-wrapper .office-clients {
  background-image: url("../img/office/clients-header.jpg");
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60vh;
  font-size: 1.8em;
  width: 100%;
}

.center-wrapper .office-card {
  display: -ms-grid;
  display: grid;
  grid-gap: 3rem;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  height: 100%;
}

.center-wrapper .office-card img {
  border-radius: 50%;
}

.center-wrapper .office-card .office-img {
  width: 100%;
  height: auto !important;
}

.center-wrapper .client-card {
  display: -ms-grid;
  display: grid;
  grid-gap: 0.5rem;
  -ms-grid-columns: (minmax(10rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  cursor: pointer;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 0.7em;
}

.center-wrapper .client-card img {
  width: 100%;
}

@media (max-width: 769px) {
  .office-logo {
    display: none;
  }
}
/*# sourceMappingURL=Office.css.map */