.App {
  text-align: center;
}

.wrapper {
  // max-width:1050px;
  margin: auto;
}

#page-container {
  position: relative;
  min-height: auto;
  max-height: auto;
}

#content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
  // display: inline-grid;
  // justify-items: center;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@media (max-width: 769px) {
  #page-container {
    overflow: none;
    width: 100%;
    height: 100vh;
    img {
      height: 100%;
    }
  }
  #content-wrap {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
}
